#logo{
  font-family: 'Bungee', cursive;
}

body nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF ;
}

#navFlex{
  display: flex;
  height: 120px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

#navWrite{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angle-double-down{
  color: red;
}
