#logo{
  font-family: 'Bungee', cursive;
}

nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 1;
  background-image: url('../images/3px-tile.png');
  background-color: #b50042;
}

@media screen and (min-width: 1025px){
  nav {
    background-image: none;
    background-color: #4056A1;
  }
}

nav span{
  margin-left: 1.5rem;
}


#navWrite{
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angle-double-down{
  color: red;
}
