.new-tweet{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

#tweet-text{
  border: none;
  background-color: transparent;
  outline: none;
  resize: none;
  border-bottom: 5px solid black;
  position: relative;
}


.submitCounter{
  padding-top: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #4056A1;
  color: #FFFFFF ;
  font-family: 'Bungee', cursive;
}